/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Source-Sans Pro', 
  }
  p {
    font-family: 'Source-Sans Pro', 
  }
  
  
  
  
  
  
  /* Navigation bar */
  
  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  
    
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;
    position: relative;
    right: 40px;
  }
  
  .nav-link {
    color: #000000;
  }
  
  /* Navigation dropdown menu */
  
  
  
  /* Navigation links */
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
  }
  
  /* Jumbotron  */
  .jumbotron  {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
  }
  
  
 
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: relative;
    left: 200px;
    bottom: -50px;
  }
  
  
  
  .display-4 {
      width: 384px;
      height: 64px;
      font-family: SourceSansPro;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      position: absolute;
      left: 80px;
      bottom: 470px;
    }
  
    .lead {
      width: 425px;
    height: 200px;
    font-family: SourceSansPro;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #6e6464;
    position: absolute;
    left: 80px;
    bottom: 260px;
    }
  
    .Get-In-Touch {
      position: absolute;
      bottom: 280px;
      left: 78px;
      width: 10%;
    }
  
    .Download-My-Portfolio {
      position: absolute;
      bottom: 280px;
      left: 245px;
      width: 13%;
    }
  
    .box {
      width:100%;
       background-color:#6960F2;
       height:820px;
    }



.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 20px;
  margin-left: 20px;
}

.image {
  position: relative;
  left: 140px;
  top: 90px;
  padding: 25px;
  
}

.image-2 {
  position: relative;
  top: 90px;
  left: 140px;
  padding: 25px;
}
  .sectionHeading {
    color: white;
    position: absolute;
    left: 565px;
    top: 555px;
  }
  
 
  .box-2 {
    width:100%;
     background-color:#F7F7F7;
     height:580px;
  }

  .row-2 {
    display: flex;
  }
  
  .column-2 {
    flex: 33.33%;
    padding: 20px;
    margin-left: 20px;
  }

  .image-3 {
    position: relative;
    top: 120px;
    left: 140px;
    padding: 25px;
  }
  /* Jumbotron copy */
  
  
  
  .content {
    padding: 50px;
  }
  
  
  
  .sectionHeading-2 {
    color: black;
    position: absolute;
    left: 465px;
    top: 1380px;
  }
  
  .box-3 {
    width:100%;
     background-color:white;
     height:350px;
  }
  
#footer-text {
  position: absolute;
  left: 150px;
  top: 1960px;
  font-size: 22px;
}

.footer-text {
  position: absolute;
  left: 150px;
  top: 2020px;
}

#footer-text-2 {
  position: absolute;
  left: 650px;
  top: 1960px;
  font-size: 22px;
}

.footer-text-2 {
  position: absolute;
  left: 650px;
  top: 2020px;
}

.footer-text-3 {
  position: absolute;
  left: 900px;
  top: 1960px;
  font-size: 22px;
}

.icons {
  float: right;
  width: 9%;
  position: absolute;
  left: 900px;
  top: 2020px;
}